*{
    margin: 0px;
    padding: 0px;
    list-style: 0;
}
.box{
    margin: 50px auto;
    border: 1px solid #ccc;
    font-size: 0px;
}
.row{
    display: flex;
}
.col{
    border: 1px solid #ccc;
    flex: 1;
    background-size: cover;
}